{% extends '@MartenaSoftContent/content/page.html.twig' %}

{% block body %}

    <table class="table tab-content">
        {% for bundle in bundles %}
            {% set bundleName = bundle.class | split('\\') | last %}
        <tr>
            <th>{{ bundleName }}</th>
            <th>
                <div class="float-right">
                    <a href="{{ path('admin_maker_entity_create', {bundleName:bundle.path | split('/')[1]}) }}" class="btn btn-primary">Create</a>
                </div>
            </th>
            {% if bundle.Entity is defined and bundle.Entity is not empty %}
                {% for entityName, entity in bundle.Entity %}
                    <tr>
                        <td>{{ entityName }}</td>
                        <td>
                            <div class="float-right">
                                <a href="{{ path('admin_maker_entity_edit',
                                    {
                                        name : entityName,
                                        bundleName:bundle.path | split('/')[1]
                                    }) }}"
                                   class="btn btn-success">Edit</a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}